@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html {
    font-size: 10px;
}

* {
    padding: 0;
    margin: auto;
    box-sizing: border-box;
}

body {
    background-color: #f7f7f7;
    scrollbar-width: none;
    font-family: roboto;
}

::-webkit-scrollbar {
    display: none;
}

header {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #6441a5;
    background: -webkit-linear-gradient(to right, #2a0845, #6441a5);
    background: linear-gradient(to right, #2a0845, #6441a5);
}

header > img {
    height: 80%;
}

header > p {
    font-family: VT323, monospace;
    color: whitesmoke;
    font-size: 50px;
}

@media (max-width: 786px) {
    header > img {
        height: 60%;
    }

    header > p {
        font-size: 3.5rem;
    }
}

.container {
    width: 80%;
    min-height: calc(100vh - 100px);
    margin: 0 auto;
    padding: 4em;
    display: grid;
    place-items: center;
}

.meme {
    width: 50%;
    position: relative;
    margin-bottom: 4em;
}

.meme-img {
    width: 100%;
    border-radius: 1em;
}

.top,
.bottom {
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: #fff;
    font-size: 2.4rem;
    width: 90%;
}
.bottom {
    top: auto;
    bottom: 1rem;
}

@media (max-width: 786px) {
    .container {
        width: 100%;
        padding: 2em;
    }
    .meme {
        width: 100%;
        margin-bottom: 1rem;
    }
}

form {
    width: 80%;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr 1fr auto;
    margin-bottom: 4em;
}
@media (max-width: 786px) {
    form {
        width: 100%;
        grid-template-columns: 1fr;
    }
}

a {
    text-decoration: none;
}

input[type="text"],
button,
a {
    width: 100%;
    outline: none;
    border: 1px solid #5c5c5c;
    padding: 0.8em 1.5em;
    border-radius: 50em;
    font-size: 1.6rem;
}

button,
a {
    width: auto;
    background: #712caa;
    color: #fff;
    display: inline-block;
    margin: 0 auto;
    border: 1px solid #712caa;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    user-select: none;
}

button:hover,
a:hover {
    background: #431a64;
}

.download-btn {
    border: 1px solid #4f1f77;
    color: #4f1f77;
    background: transparent;
}
.download-btn:hover {
    color: #fff;
}
